/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
height:15vh;
display:flex;
color: #b4c928;
}
.logo{
padding-left:10vw;
}
.user_button{
  padding-left:50vw;
  line-height:15vh;
  font-weight: bold;
  text-decoration: none;
}
.bar{
  height:1vh;
  background-color:#c3d825;
}
.itiran{
 color:#c3d825; 
 text-align: center;
 padding:0;
}
.body {
background-image:url('https://cdn.pixabay.com/photo/2016/09/21/04/46/barley-field-1684052_1280.jpg');
background-size:cover;
background-color: #f8f4e6;
opacity: 0.7;
padding-top:3vh 
}
.post{
text-decoration: none; 
color:#c3d825; 
list-style: none;
}

.ivent-box{
  width:60vw;
  height:30vh;
  display:flex;
  color: #82ae46;
  border-color: #e0ebaf;
  margin: 0px auto; 
}
.ivent-image{
  width:20vw;
  height:25vh;
  border-color: #e0ebaf;
  border:solid;
  border-width:1px;
  border-radius:7px;
  padding-top: 1vh;
  background-color: #f8f4e6;
   background-size:cover;
}
.ivent-outline{
  width:60vw;
  height:25vh;
  display:table-cell;
  border-color: #e0ebaf;
  border:solid;
  border-width:1px;
  border-radius:7px;
  margin-left: 1px;
  background-color: #f8f4e6;
  padding-top: 1vh;
  
}
.box{
  font-size:1.0rem;
  display: flex;
}
.title{
  font-size:1.0rem;
  padding-left:1vw;
  padding-top: 1vh;
}
.content{
  font-size:1.3rem;
  font-weight: bold;
  padding-top: 1vh;
}
.more{
  text-align: center;
  list-style: none;
}
.more_list{
  list-style: none;
  text-decoration: none;
  display:flex;
  padding-left:80vw;
}

.input_list{
  padding-left: 30vw;
  color: #c3d825;
}
.ivent_shousai{
  display:flex;
  width:80vw;
  height:60vh;
  border:solid;
  background-color: #f8f4e6;
  border-color: #e0ebaf;
  border-width:1px;
  border-radius:7px;
  padding-top: 1vh;
  margin-left: 2px;
text-decoration: none;
  color: #82ae46;
margin: 0px auto; 
}

.ivent_shousais{
background-color: #f8f4e6;
text-decoration: none;
color: #c3d825;

}
.henshuu{
color: #c3d825;
}
.image_shousai{
  width:80vw;
  background-size: cover;
}

.success{
  text-align: center;
  text-decoration: none;
  color: #82ae46;
}