.body {
color: #dccb18;
text-align: center;
font-weight:bold;
}

.header {
height:15vh;
background-color: #dccb18;
}
.logo{
font-size:1.8rem;
font-weight:bold;
color:#203744;
line-height:15vh;
  
}
.ivent-box{
  width:90vw;
  height:50vh;
  display:flex;
  color: #a69425;
  border: #f2f2b0;
  padding-left: 80px;
  padding-bottom:10px;
}
.ivent-image{
  width:20vw;
  height:50vh;
  border-color: #f2f2b0;
  border:solid;
  border-radius:7px;
}
.ivent-outline{
  width:60vw;
  height:50vh;
  display:table-cell;
  border-color: #f2f2b0;
  border:solid;
  border-radius:7px;
  margin-left: 10px
}
.more{
  text-align: center;
}

.ivents_new{
  text-align: center;
  color:#b4cf34;
}
.input_list{
  border:solid;
  border-color:#b4cf34; 
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
